<div class="app">

  <header>

    <br>
    <h2 style="text-align:center;" class="todo-heading-section"  >✦ Todo List By Yogesh Borole ✦</h2>
    <hr>
    <a href="tel:7620510652">
      <span>Contact: 7620510652</span>
      <span>Contact: 7620510652</span>
    </a>
    <img
      src="https://w7.pngwing.com/pngs/268/27/png-transparent-action-item-computer-icons-task-others-miscellaneous-angle-text.png"
      width="270" height="140" style="display: block; margin-left: auto; margin-right: auto;" />
  </header>
  
  <app-todos></app-todos>
  
</div>

